.App{
  padding: 10px;
}
.toolbar{
  color: #dddddd;
  border: solid 1px #dddddd !important;
  margin: 0 !important;
  padding: 10px 0px !important;
}
/* img { */
  /* vertical-align: top;  */
  /* vertical-align: text-top; */
  /* vertical-align: -moz-middle-with-baseline; */
  /* vertical-align: unset; */
  /* vertical-align: initial */
  /* float: left; */
  /* float: right; */
/* } */