.App{
  padding: 10px;
}
.toolbar{
  color: #dddddd;
  border: solid 1px #dddddd !important;
  margin: 0 !important;
  padding: 10px 0px !important;
}

.toolbar-antd-cotnainer .ant-btn-group {
  margin-right: 10px;
}